.container.text-center
    - @posts.each do |post|
        .post
            = image_tag post.avatar(:medium)
            %h2= link_to post.title, post
            %p= post.body.truncate(20)
            %small
                %span -
                = link_to post.user.email, post.user
                = post.created_at.strftime('%m.%d.%y')
    = will_paginate @posts