.content
    %h1= @post.title
    %p= @post.body
    %br
    %small= link_to "Back", root_path

    - if current_user == @post.user
        %small= link_to "Edit", edit_post_path(@post)
        %small= link_to "Delete", @post, method: :delete, data: {confirm: "Are you Sure?"}