!!! 5
%head
  %title wd  
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body.bg
  .container
    .row
      .col-4.text-center.head
        - if user_signed_in?
          = link_to image_tag("headshot.png"), destroy_user_session_path, method: :delete
        - else
          = link_to image_tag("headshot.png"), new_user_session_path 
      .col-4.text-center.head
        = link_to image_tag("wd.png"), root_path, class: "logo"   
      .col-4.search-form
        = form_tag(posts_path, method: "get", class: "searchform") do
          = text_field_tag :search, nil, class: "form-control search-control"
          = submit_tag "", style: "display: none;"
    .row.justify-content-center
      .col-8
        - flash.each do |name, msg|
          = content_tag :div, msg, class: "alert alert-success" 
  .container
    = yield
  - if user_signed_in?
    .plus
      = link_to image_tag("plus.png"), new_post_path
  - else