!!! 5
%head
  %title Simple Blog  
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  %nav.navbar.navbar-defualt
    .container
      .navbar-brand= link_to "Blog", root_path
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          %li= link_to "New Post", new_post_path
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path

  .container
    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-success" 
    = yield